/**STANDART INDSTILLINGER**/
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;

}

img {
    width: 100%;
    object-fit: cover;
}

.wrapper_index {

    padding: 20px;
}

.splash_tekst {
    padding: 20px;
}

h1,
button {


    font-family: adelle,
        serif;

    font-weight: 400;

    font-style: normal;
}

p,
h3,
a {

    font-family: 'Ubuntu', sans-serif;
    line-height: 25px;

}


a {

    text-decoration: none;
    color: black;

}


.fremhaev {

    font-weight: bold;
}

#logo {

    max-width: 150px;
}

.pil {
    display: none;
}

/***menu***/


#burger_menu {
    font-size: 2rem;
}

.mylinks {
    display: none;
}

.desktop {
    display: none;
}

header {
    width: 100vw;

}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;



}


header nav a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    color: black;
    font-family: adelle,
        serif;

    font-weight: 400;

    font-style: normal;
}



header nav a:visited {
    color: #2B8681;

}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: black;
    margin: 10px;
    cursor: pointer;
}

/*****Menu SLUT*****/

/***FOOTER***/


footer {
    padding-top: 90px;
}

footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px solid black;
    padding: 10px;
    margin-left: 25px;
    width: 96%;


}


footer {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 1.2rem;
}

/***Footer SLUT***/

/***Forside INDSTILLINGER***/
#liste_forside {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;

}

.wrapper_forside img {
    width: 70%;
    padding-top: 90px;
}



#go-back {
    border: none;
    max-width: 40px;

}


/**Forside SLUT***/

/**Bøger INDSTILLINGER**/



#liste_books {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;

}



.books .book_img:nth-child(odd) {
    padding-top: 90px;
}




/**Bøger SLUT**/

/***Bredformat billedene INDSTILLINGER***/

article.bred {

    grid-column: span 2;

}

/***Bredformat billedene SLUT***/




/***MEDIA INDSTILLINGER***/
@media screen and (min-width:600px) {
    .splash_tekst {
        position: absolute;
        left: 2vw;
        top: 16vw;
        width: 43vw;
        padding-left: 4vw;
    }


    #splash img {

        height: 85vh;
        width: 100vw;
        object-fit: cover;
    }


    .pil img {

        position: relative;
        left: 19vw;
        bottom: 4vw;
        cursor: pointer;
        max-width: 50px;

    }


    .pil {
        animation-name: beat_kf;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }


    @keyframes beat_kf {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0);
        }
    }
}

@media screen and (min-width:600px) {

    #liste_books {
        grid-template-columns: 2fr 2fr;
        grid-auto-flow: dense;
        max-width: 1000px;
        grid-gap: 100px;
    }

    .books .book_img :nth-child(even) {
        padding-top: 90px;

    }


    #book_section article:nth-child(4n-1) {
        grid-column: 2;


    }

    #book_section img {
        width: 70%;

    }

    #om_container {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-gap: 30px;

    }



    .om img {

        width: 70%;
        object-fit: cover;
        border: 1px solid black;
        border-radius: 300px;
    }

    article.tekst_om {
        padding-top: 60px;
    }


    .video_wrapper {

        float: none;
        width: 600px;
        position: relative;
        padding-bottom: 30%;
        padding-top: 25px;
        height: 0;
        margin: 0 auto;


        max-width: 1200px;
    }






}


@media screen and (min-width:768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}



/**PRODUKTER**/
@media screen and (min-width:600px)and (max-width: 2000px) {



    #produkter {
        max-width: 1000px;
        margin: 0 auto;
        /*    padding: 10px;*/
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        grid-auto-flow: dense;
        /*
    position: relative;
    display: block;
*/

    }

    .produkt img {
        width: 100%;
        height: 100%;

        object-fit: cover;


    }


    .billede_produkt:hover {

        transition: .4s;
        transition-timing-function: cubic-bezier(.2, 0, .3, 1);
        transform: scale(1);
        cursor: pointer;
        overflow: hidden;
    }

    /**Produkt_detalje**/
    .wrapper_produkt #container_produkt {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-gap: 30px;

    }

    .col_img img {
        width: 100%;
    }


    .col_tekst {

        grid-column: span 2;
    }

    button {
        color: black;
        height: 40px;
        width: 150px;
        background-color: white;
        transition: 2s;
        margin: 5px;

    }

    button:hover {
        transition: .4s;
        transition-timing-function: cubic-bezier(.2, 0, .3, 1);
        transform: scale(1.07);
        cursor: pointer;
    }


    #knapper .filter .p {

        font-family: adelle, serif;

        font-weight: 400;

        font-style: normal;
        cursor: pointer;
    }

    #knapper {

        text-align: center;
        padding-top: 40px;

    }


    .artist_para {
        font-weight: bold;


    }

    .pris {
        font-family: 'Ubuntu', sans-serif;
        color: #2B8681;
        font-weight: 600;


    }

}

@media screen and (min-width:600px)and (max-width: 2000px) {
    .wrapper_produkt #container_produkt {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-gap: 30px;

    }

    .col_img img {
        width: 100%;
    }


    .col_tekst {

        grid-column: span 2;
    }


}

@media screen and (min-width:600px)and (max-width: 2000px) {

    #container {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-gap: 30px;

    }

    .kontakt_billede img {
        width: 80%;
    }


}

/**FORSIDE**/
@media screen and (min-width:600px)and (max-width: 2000px) {

    #liste_forside {
        grid-template-columns: 2fr 2fr;
        grid-auto-flow: dense;
    }

    .wrapper_forside article:nth-child(even) {
        max-width: 450px;
        padding-top: 90px;


    }


    .wrapper_forside article:nth-child(4n-1) {
        grid-column: 2;

    }

    .wrapper_forside img {
        width: 70%;

    }


}

@media screen and (min-width: 600px) {

    #book_section {}

    #liste_books {
        grid-template-columns: 2fr 2fr;
        grid-auto-flow: dense;
        max-width: 1000px;
        grid-gap: 100px;
    }

    .books .book_img :nth-child(even) {
        padding-top: 90px;
    }


    #book_section article:nth-child(4n-1) {
        grid-column: 2;


    }

    #book_section img {
        width: 400px;
    }

    .header_constant {
        padding-top: 20px;
        width: 92vw;
        border-bottom: 2px solid black;
        padding: 15px;
        margin-left: 25px;
        text-align: start;
    }

}




@media only screen and (min-width:600px)and (max-width: 2000px) {


    #logo img {
        width: 10%;
        cursor: pointer;
        position: absolute;
        max-width: 1000px;
        cursor: pointer;
    }

    header {
        width: 95vw;
        /*        position: fixed;*/
        border-bottom: 2px solid black;
        padding: 10px;
        margin-left: 25px;

    }

    #burger_menu {
        display: none;


    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;

    }

    header li {
        display: inline-block;
        letter-spacing: 1px;


    }

    header nav {
        height: 70px;
        align-items: flex-start;
        /* padding: 20px; */
        margin-left: 150px;



    }


    header nav li {


        margin: 10px;
        text-decoration: none;
        color: black;

    }

    .some {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin-left: 25px;
        width: 96%;

    }

    .face,
    .insta {
        max-width: 60px;
        display: block;
        padding: 3px;
    }


}
