/**STANDART INDSTILLINGER**/
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
}

img {
    width: 100%;
    object-fit: cover;
}



/***menu***/



header {
    width: 100vw;


}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;



}


header nav a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    color: black;
}



header nav a:visited {
    color: red;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: black;
    margin: 10px;
}

/*****Menu SLUT*****/

/***FOOTER***/
.some {
    background-image: url(img/some.svg);
    height: 7vw;
    width: 15.8vw;

}

footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px solid black;
    padding: 10px;
    margin-left: 25px;
    width: 96%;

}

footer .some {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 1.2rem;
}

/***Footer SLUT***/

/***Forside INDSTILLINGER***/
#liste_forside {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;

}

.wrapper_forside img {
    width: 70%;
    padding-top: 90px;
}

.wrapper_forside article:nth-child(odd) {
    background: #fff;
}

/**Forside SLUT***/

/** Produkter**/
/***SKAL INDSÆTTES I MQ***/
#produkter {
    max-width: 1000px;
    margin: 0 auto;
    /*    padding: 10px;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    grid-auto-flow: dense;

}

.billede_produkt {
    width: 100%;




}



article.produkt {

    /*    padding: 10px;*/

}

article.bred {

    grid-column: span 2;

}

/**Produkt_detalje**/
.wrapper_produkt #container_produkt {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 30px;

}

.col_img img {
    width: 100%;
}


.col_tekst {

    grid-column: span 2;
}


/***Produkter SLUT***/




/**Bøger INDSTILLINGER**/

#liste_books {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;

}



.books .book_img:nth-child(odd) {
    padding-top: 90px;
}


/**Bøger SLUT**/

/***Kontakt INDSTILLINGER***/

#container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 30px;

}

.kontakt_billede img {
    width: 80%;
}

/****Kontakt SLUT***/



/***MEDIA INDSTILLINGER***/
@media screen and (min-width:768px) {

    #liste_forside {
        grid-template-columns: 2fr 2fr;
        grid-auto-flow: dense;
    }

    .wrapper_forside article:nth-child(even) {
        max-width: 450px;
        padding-top: 90px;


    }


    .wrapper_forside article:nth-child(4n-1) {
        grid-column: 2;

    }

    .wrapper_forside img {
        width: 70%;

    }


}

@media screen and (min-width:768px) {

    #liste_books {
        grid-template-columns: 2fr 2fr;
        grid-auto-flow: dense;
        max-width: 1000px;
        grid-gap: 100px;
    }

    .books .book_img :nth-child(even) {
        padding-top: 90px;
    }


    #book_section article:nth-child(4n-1) {
        grid-column: 2;


    }

    #book_section img {
        width: 400px;
    }

    .header_page {
        width: 92vw;
        /*        position: fixed;*/
        border-bottom: 2px solid black;
        padding: 10px;
        margin-left: 25px;
    }

}




@media only screen and (min-width:600px) {

    #logo {
        background-image: url(img/logo.svg);
        height: 8vw;
        width: 13vw;
        background-size: cover;
        position: absolute;
        top: -6px;
        left: 0vw;
        cursor: pointer;
    }

    header {
        width: 95vw;
        /*        position: fixed;*/
        border-bottom: 2px solid black;
        padding: 10px;
        margin-left: 25px;

    }

    #menuknap {
        display: none;

    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;

    }

    header li {
        display: inline-block;
        letter-spacing: 1px;


    }

    header nav {
        height: 70px;
        align-items: flex-start;
        /* padding: 20px; */
        margin-left: 150px;



    }


    header nav li {


        margin: 10px;
        text-decoration: none;
        color: black;

    }


}
